#r5px{
    padding-right: 10px;
}
body{
    background-color: white;
}
.jfbb{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.line{
    border: 1px solid gray;
}
.centergal{
    display: flex;
    align-items: center;
    justify-content: center;
}